.manager-department{
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    .list-department{
        height: 100%;
        width: 700px;
        overflow: auto;
        padding: 20px;
        border: 1px solid gray;
        
        .department{
            width: 100%;
            height: 40px;
            float: left;
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            background-color: #ff9800;
            color: white;
            cursor: pointer;
            transition: 0.4s;
            border-radius: 20px;
        }

        .department:hover{
            background-color: rgb(170, 170, 175);
        }
    }
    .right{
        height: 100%;
        width: calc(100% - 700px);
        border: 1px solid gray;
        padding: 5px;
        
    }
    

    
}