
#root{
  width: 100%;
  height: 100%;
  // background-color: red;
 
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}
html{
  width: 100vw;
  height: 100vh;
      
   
  
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//app
@import './App.scss';

//authentication
@import './styles/authentication/login_signup.scss';

//home
@import './styles/home.scss';
@import './styles/menu.scss';

//admin
@import './styles/admin/admin.scss';
@import './styles/admin/addAcc.scss';
@import './styles//admin/managerAcc.scss';
@import './styles/admin/detailAcc.scss';


//staff
@import './styles/staff/staff.scss';
@import './styles/staff/addStaff.scss';
@import './styles/staff/managerDepartment.scss';
@import './styles/staff/detailDepartment.scss';
@import './styles/staff/addDepartment.scss';
@import './styles/staff/managerStaff.scss';
@import './styles/staff/listStaff.scss';
@import './styles/staff/detailStaff.scss';
@import './styles/staff/managerTimeWork.scss';



//regime
@import './styles/regime/regime.scss';
@import './styles/regime/managerAwareness.scss';
@import './styles/regime/managerRegime.scss';
@import './styles/regime/detailRegime.scss';
@import './styles/regime/detailAwareness.scss';

//product
@import './styles/product/product.scss';
@import './styles/product/managerProduct.scss';
@import './styles/product/listProduct.scss';
@import './styles/product/listCustomer.scss';
@import './styles/product/detailProduct.scss';


