.menu{
    width: 20%;
    height: 100%;
    .infomation{
        height: 200px;
        width: 100%;
        padding-top: 10px;
        p{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: green;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        text-align: center;
      
        u{
            margin-top: 10px;
        }
    }
    .list{
        display: block;
        width: 100%;
        height: calc(100% - 270px);
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            width: 100%;
            background-color:rgb(179, 178, 178);
            // line-height: 80px;
            
            margin-bottom: 20px;
            padding-left: 20px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 30px;
            text-transform: uppercase;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            .icon{
                width: 40px;
            }
            .title_{
                width: calc(100% - 40px);
            }
        }
        li:hover{
            background-color: darkblue;
        }
    }
    .footer{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        
        span{
            width: 70px;
            cursor: pointer;
            line-height: 70px;
            text-align: center;
            border-radius: 20px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        span:hover{
            background-color: rgb(212, 206, 206);
        }
    }
}